{% extends "layout.html" %}
{% block body %}

<p><b><i>Under AI Watcher</i></b> is an intelligent video monitoring web application for analysing school environments and detecting
    anomalies. The application uses computer vision techniques to monitor student activities in the classroom. It has a
    user friendly interface along with an instruction or help page that provides instructions for “How to use it ?”.
</p>
<p>
    Our team comprises two machine learning fellow enthusiasts .

    <i>Rudra Prasad Dash</i> is a pre-final year B.Tech undergraduate at National Institute Of Technology, Rourkela majoring in
    biomedical engineering with a keen interest in computer vision and its applications in the real world.

    <i>Kumar Abhishek</i> is a pre-final year B.Tech undergraduate at National Institute Of Technology, Rourkela majoring in
    biomedical engineering who is passionate about artificial intelligence and entrepreneurship.
</p>


{% endblock %}